.App {
  text-align: center;
  margin: 0%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.parallax {
  /* implement parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: black;
  font-weight: lighter;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  /* font-weight: bold; */
}

.navbar a:hover {
  background-color: #af7153;
  opacity: 0.8;
  color: white;
}

.navbar a.active {
  background-color: #af7153;
  opacity: 0.8;
  color: white;
}

.navbar .icon {
  display: none;
}

.home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(./assets/home-background.png);
  padding-top: 35%;
  height: 100%;
  width: 100%;
}

.aboutme {
  display: flex;
  flex-direction: row;
  background-image: url(./assets/aboutme-background.png);
  padding: 15%;
  height: 100%;
  width: 100%;
}
.aboutmeProfilePic {
  height: 25%;
  width: 25%;
}
.projects {
  display: flex;
  flex-direction: row;
  background-image: url(./assets/projects-background.png);
  padding: 15%;
  height: 100%;
  width: 100%;
}
.projectImage {
  border-radius: 50%;
  margin-right: 7%;
  padding: 5%;
  height:45%;
  width: 80%;
}
.projectName {
  background-color: #fff; 
  opacity: 0.5;
  border-style: none;
  box-shadow: 25px;
  letter-spacing: 2px;
  width:90%;
  padding: 4%;
  margin-right: 7%;
  font-size: calc(2px + 2vmin);
}
.projectDesc {
  text-align: justify;
  font-size: calc(1px + 2vmin);
  padding: 5% 10%;
  color: black;
}
.descBackground {
  background-color: #fff; 
  opacity: 0.5;
  height: 30%;
  width: 90%;
  margin: 1%;
}
.motto {
  background-image: url(./assets/motto-background.png);
  padding: 20% 15%;
  height: 100%;
  width: 100%;
}
.experience {
  display: flex;
  flex-direction: row;
  background-image: url(./assets/experience-background.png);
  padding: 15%;
  height: 100%;
  width: 100%;
}
.experienceImage {
  height: 10rem;
  width: 10rem;
}
.experienceRole {
  color:black;
  background-color: #fff; 
  opacity: 0.5;
  margin: 2%;
}
.contact {
  background-image: url(./assets/letsconnect-background.png);
  padding: 15%;
  height: 100%;
  width: 100%;
}